
body{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: rgb(146, 156, 175);
	background-image: url("assets/img/Portobello.jpg");
	height: 90%;
	margin: 0;
}

img{
	position: relative;
	height: px;
	width: 20px;
}

body, head{
	text-align: center;
	color: white;
	font-size: 30px;
}

button{
	border-radius: 8px;
	background-color:#ffcc66;
	padding: 20px 70px;
	font-size: 1em;
	margin-top: 20px;
}

button:hover{
	background-color: orange;
	cursor: pointer;
}

#fields{
	padding: 50px 20px;
	font-size: 1.25em;
	color: grey;
	border: 2px solid rgb(73, 88, 103);
	background: none;
}

#fields:focus{
	background-color: rgba(240, 93, 94, 0.2);
	color: rgb(221, 242, 235);
}

a{
	position: fixed;
    bottom: 0px;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(255,255,255,0.3);
    width: 100%;
    transition: border-radius 0.8s;
    padding: 5px 0;
	text-decoration: none;
	display: block;
	text-align: center;
	color: white;
	
}

a:hover{
    background-color: rgba(255, 127, 80, 0.411);
}

